
<%= stylesheet_link_tag :registrations %>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">

<div class="container">
  <div class="left content-container">
    <h1 class="title">Acebook</h1>
    <p class="intro">Connect with friends and the
world around you.</p>
    <div class="button-container">
        <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="right content-container">
    <!-- <h1 class="title">sign up</h1> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="form-container">
      <div class="top">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
              </div>
              </div>
              </div>
              <br>
              <br>
              <br>

          <div class="form-actions">
            <%= f.button :submit, "Sign up"%>



      <% end %>
</div>
